{% extends "base.html" %}
{% load static %}
{% block title %}
Tirian Trains' Official Maintenance Log
{% endblock %}
{% block content %}
<br>
<img src="https://i.imgur.com/s4VkM5p.png", height="150">
<br><br>
<h2>OFFICIAL MAINTENANCE LOG</h2>

<table class ="table">
  <tr>
	<th><a href="?order_by=maintenance_task_id">MAINTENANCE TASK I.D.</a></th>
	<th><a href="?order_by=date_maintained">DATE MAINTAINED</a></th>
	<th><a href="?order_by=train_model">TRAIN MAINTAINED</a></th>
	<th><a href="?order_by=maintenance_description">DESCRIPTION OF MAINTENANCE</a></th>
	<th><a href="?order_by=condition">POST-MAINTENANCE CONDITION</a></th>
	<th><a href="?order_by=crew_id">MAINTENANCE CREW</a></th>
  </tr>
  {% for object in maintenance_list %}
  <tr>
      <td>{{object.maintenance_task_id}}</td>
      <td>{{object.date_maintained}}</td>
      <td>{{object.train.train_model}} I.D. {{object.train_id}}</td>
      <td>{{object.maintenance_description}}</td>
      <td>{{object.condition}}
      <td>I.D. {{object.crew.crew_id}}, Leader {{object.crew.crew_leader}}</td>
  </tr>
  {% endfor %}
</table>

<br><br><br>

{% endblock %}
