h2{
  font-family: "Verdana";
}
h3{
  font-family: "Verdana";
  color: #43ca5a;
}
p{
  font-family: "Verdana";
}
body{
  color: white;
  background-color: #171717;
}
a:link {
  font-family: "Verdana";
  text-decoration: none;
  color: #43ca5a;
}
a:visited {
  color: #43ca5a;
}
a:hover {
  color: #005b0f;
}