h2{
  font-family: "Helvetica";
  text-align: center;
}
h3{
  font-family: "Helvetica";
  text-align: center;
}
p{
  color:  #a97a21;
  font-family: "Helvetica";
  text-align: center;
}
body{
  color: white;
  background-color: #111F2A;
  background-image: linear-gradient(#111F2A, #07111A);
  text-align: center;
}
a:link {
  font-family: "Helvetica";
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: #937000;
}

td, th {
  font-family: Helvetica, sans-serif;
  border-collapse: collapse;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
}

tr:nth-child(even){background-color: #0C151D;}
tr:nth-child(odd){background-color: #111F2A;}

tr:hover {background-color: #070C10;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #FFC300;
  color: black;
}

th a {
    display: block;
}

.table {
margin-left:auto; 
margin-right:auto;
}

.form {
font-family: "Helvetica";
}
